



#container{
  margin: 0 auto;
  width: 500px;
}
h1{
  letter-spacing: 1px;
  padding-top:10px;
  color: rgb(193, 38, 23);
}

header{
  text-align:center;
  max-width:100%;
  height: 60px;
  color: white;
  background-color: rgb(231, 234, 232);
  padding: 0px;
  margin-bottom:0px;
}
h3{
  margin-left:10px;
}

ul{
  list-style-type: none;
  padding-top:10px;
  font-family: 'Roboto', sans-serif;
  /*text-align:center;*/
}

li{
  line-height: 12px;
  /*float: left;*/
}

.inputs{
  margin: 0 auto;
  margin-left: 116px;
}
#result{
    margin-top:10px;
    height: 18px;
    width:50px;
    border: 1px solid rgb(209, 207, 213);
}
.results{
  color: rgb(193, 38, 23);
  font-family: 'Roboto', sans-serif;
  font-weight:600;
  margin-top: 13px;
}

#baddie,#baddie2,#baddie3, #price{
  width: 70px;
}

#goomba, #bob-omb, #cheep{
  float: left;
  margin-left:10px;
}
.para {
  display:inline-block;
  margin: auto;
  margin-left:10px;
}


.footerText{
  /*margin: 0 auto;*/
  text-align: center;
  color:#333333;
  /*width: 700px;*/
  /*margin-left: 350px;*/
  padding-top: 33px;
  /*padding-left: 80px;*/
}
footer{
  margin-top:20px;
  background-color: #E7EAE8;
  max-width: 100%;
  height:85px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size:.7em;
}



@media (max-width: 500px){
  .para {
    /*margin: auto;*/
    display: block;
    text-align:left;
  }
  .footerText{
    margin: 0 auto;
    color:#333333;
    width: 600px;
    /*margin-left: 350px;*/
    margin-left:68px;
    padding-top: 25px;
    /*padding-left: 80px;*/
  }
  ul{
    list-style-type: none;
    padding-top:10px;
    margin-left:0px;
    font-family: 'Roboto', sans-serif;
    margin-left: -30px;
  }
  h1{
    font-size: 2em;
    letter-spacing: 1px;
    padding-top:11px;
    color: rgb(193, 38, 23);
  }
  h3{
    font-family: 'Roboto', sans-serif;
    font-size: .95em;
  }
  li{
    line-height: 12px;
    /*float: left;*/
  }
  .inputs{
    margin: 0 auto;
    margin-left: 77px;
  }
  #result{
      margin-top:10px;
      height: 18px;
      width:70px;
      border: 1px solid rgb(209, 207, 213);
  }
  .results{
    color: rgb(193, 38, 23);
    font-family: 'Roboto', sans-serif;
    font-weight:600;
    margin-top: 13px;
  }
  #baddie,#baddie2,#baddie3, #price{
    width: 40px;
  }

  #goomba, #bob-omb, #cheep{
    float: left;
    margin-left:0px;
  }
}
