body{
  background-color:#111111 ;
}
h1{
      display: block;
      font-size: 2.3em;
      -webkit-margin-before: 0.67em;
      -webkit-margin-after: 0.67em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      font-weight: bold;
      color: #E2E80F;
      text-align: center;
}
p{
  font-size: 1.2em;
  color: #eeeeee;
  line-height:1.3em;
}
p > span {
  color: rgb(147, 124, 238);
  text-decoration: underline;
}
#film-description{
  font-size: .9em;
  font-style: italic;
  color: #e0d5d5;
}
