@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Prompt|Russo+One');

* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
h1{
    font-family: 'Archivo Black', sans-serif;
    /* font-family: 'Russo One', sans-serif; */
    font-size: 24px;
    letter-spacing: 1px;
    /* font-family: 'Prompt', sans-serif; */
}
.banner-container{
    position: relative;
    width: 100%;
    height:100px;
}
.banner-header{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height:100px;
}
/*github and linked in icons*/
/*NAV-----------------------------------------------*/
.fa-lg{
  font-size:1.65em;
  vertical-align: 0%
}
.fa-chevron-up{
    font-size:2em;
}
.container{
    margin: 0 auto;
    padding:0 50px 0 50px;
}
.name{
      position: absolute;
      z-index: 1;
      text-align: center;
      top:1px;
      left:36%;
}
.top-icon{
     /* text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white; */
}
#myBtn {
      /* display: none; */
      position: fixed;
      bottom: 25px;
      z-index: 99;
      color: grey;
      padding-left:2px;
      right:25px;
      background-color: rgba(121, 125, 124, .3);
      cursor: pointer;
      width:40px;
      color:whitesmoke;
      height: 40px;
      border-radius: 50px;
      font-size: 17px;
      vertical-align: 0%;
      background-color: rgba(36, 65, 105, .8);
      /* text-shadow: 2px 2px 4px #FFFFFF; */
}

#myBtn:hover {
    color: rgba(149, 167, 193, 0.8);
    background-color:rgba(36, 65, 105, .6);
}


/*NAV-----------------------------------------------*/
/* .nav-container{
    width:900px;
} */
.topnav{
    overflow: hidden;
    display: block;
    color:#28b3f7;
}
.topnav a{
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: .75em;
    font
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: rgba(221, 221, 221, .25);
    color:#28b3f7;
}

/* Add an active class to highlight the current page */
/* .active {
    background-color: #4CAF50;
    color: white;
} */
.topnav .icon {
    display: none;
}


/*PORTFOLIO GALLERY-----------------------------------------------*/

section{
    margin-top:30px;
}
.column1 {
    float: left;
    width: 50%;
    padding: 10px;
    height: auto;
}
.intro{
      font-family: 'Open Sans', sans-serif;
      line-height: 30px;
      width:55%;
      text-align: center;
      margin: 0 auto;
      position: relative;
  }

  /* MODAL---------------------------------------------------------------- */


  .row > .column {
    padding: 0 8px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column {
    float: left;
    width: 25%;
  }

  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }

  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }

  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }

  .mySlides {
    display: none;
  }

  .cursor {
    cursor: pointer
  }

  /* Next & previous buttons */
  .prev,
  .next {
    z-index: 99;
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  img {
    margin-bottom: -4px;
  }

  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }

  .demo {
    opacity: 0.6;
  }

  .active,
  .demo:hover {
    opacity: 1;
  }

  img.hover-shadow {
    transition: 0.3s
  }

  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }


  .iphone{
      margin-top:10px;
      width: 210px;
      height: auto;
  }




/*IMAGE PAGE BREAK-----------------------------------------------*/

  .image-break{
       width: 100%;
       /* height:600px; */
       border: none;
       background-color: #244169;
       margin-top:100px;
       position: relative;
  }

  .family-image{
      width: 100%;
      height: auto;
      position: relative;
      background-color: white;
  }

  /* .mtn-pic-break{
    width:100%;
    height: auto;
    margin-top: 50px;
  } */
  .logos{
    width:100%;
    text-align: center;
    margin:0 auto;
}

.about{
    text-align: center;
    position: relative;
    width:100%;
    height: auto;
    background-color: rgba(233, 224, 192, .1);
    margin-top: 0px;
    padding:10px;
    padding-bottom:75px;
}

.about-me{
    text-align: left;
    margin: 0 auto;
    width: 55%;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    position: relative;
    overflow:auto;
}
.bw-color-image{
    position: relative;
    margin: 0 auto;
    z-index: 60;
    margin-top:50px;
}

.page-break-resume{
    width:100%;
    height: 200px;
    margin-top: 0px;
    margin-bottom: 60px;
    background-color: rgba(184, 214, 241, .15);
    position: relative;

}
.logo-container{
    position: relative;
    text-align: center;
    width:100%;
    margin-top:0px;
    height: auto;
    background-color: rgba(184, 214, 241, .15);
    padding:35px 0 38px 0;
    margin-bottom:50px;
}
.logos-exp{
    position: relative;
    margin-top:0px;
    width:55%
}
#resume{
    margin-top: 30px;
    position: relative;
    text-align: center;
}
.resume{
    position: relative;
    margin:0 auto;
    width:90%;
    height: auto;
}
#contact{
    margin-top: 30px;
    position: relative;
    text-align: center;
}
.contact{
    position: relative;
    margin:0 auto;
    width:70%;
    height: auto;
}

footer{
    margin-top:200px;
    background-color: #0D172E;
    max-width: 100%;
    height:100px;
}
.banner-footer{
    margin-top:200px;
    margin: 0 auto;
    width: 100%;
    height:100px;
}
.bottom-links{
    width:100%;
    margin:0 auto;
    z-index: 50;
    position: absolute;
    text-align: center;
    margin-top:45px;
}
.bottom-links a{
    z-index: 50;
    color:white;
    text-decoration: none;
    padding:10px;

    font-size:1.1em;
}
.bottom-links a:hover{
    color:#28b3f7;

}
.fa-envelope{
    font-size:1.1em;
    vertical-align: 1%;
}



/* expand--------------------------------------------------- */

.res {
  /* background: #EEE; */
    width:620px;
    margin: 69px auto;
    padding: 0px 0;
    text-align: center;
    /* box-shadow: 0 3px 5px rgba(0,0,0,0.3); */
}
h2 {
  text-align: center;
}
p {
  font-size: 13px;
}
input {
  display: none;
  visibility: hidden;
  padding-top:25px;
}
label {
    margin-top:25px;
    color: #333;
    font-family: 'Archivo Black', sans-serif;
    letter-spacing: 1px;
    font-size: 25px;
}
label:hover {
  /* color: #000; */
}
label::before {
    font-family: 'Archivo Black', sans-serif;
    /* font-family: 'Russo One', sans-serif; */
    font-size: 23px;
    font-weight: bold;
    font-family: FontAwesome;
    content: "\f078";
    color:#416891;
    display: inline-block;
    border: 2px solid #416891;
    border-radius: 50%;
    width:28px;
    height:28px;
    padding-left:1px;
    padding-top:2px;
}

#expand {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
  background: url("../images/B-Wirz-resume.svg");
  background-repeat: no-repeat;
  margin:0 auto;
  color: #FFF;
  margin-top:25px;
}
.link a:link{
    font-family: 'Open Sans', sans-serif;
    /* text-decoration: none; */
    font-size: .9em;
    text-decoration: none;
}
.link a:hover{
    font-family: 'Open Sans', sans-serif;
    /* text-decoration: none; */
    font-size: .9em;
    color:#28b3f7;
    text-decoration: none;
}
/* section {
  padding: 0 20px;
} */
#toggle:checked ~ #expand {
  height: 850px;

}
#toggle:checked ~ label::before {
    font-family: 'Archivo Black', sans-serif;
    letter-spacing: 1px;
    font-size: 23px;
    font-family: FontAwesome;
    content: "\f077";
    border: 2px solid #416891;
    border-radius: 50%;
    width:28px;
    height:28px;
    padding-left:1px;
    padding-top:2px;

}
.tyb-squeeze{
    margin-bottom:50px;
}
.bottom-links a:link{
    font-family: 'Open Sans', sans-serif;
    /* text-decoration: none; */
    font-size: .9em;
}
.bottom-links a:hover{
    font-family: 'Open Sans', sans-serif;
    /* text-decoration: none; */
    font-size: .9em;
    color:#28b3f7;
}

figcaption{
    font-family: 'Open Sans', sans-serif;
    color:white;
    margin-top:10px;
}

/* @media screen and (max-width: 1120px){
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 150px;
        width: auto;
        padding: 10px;
        margin-top: -50px;
        margin:0px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.2s ease;
        user-select: none;
        -webkit-user-select: none;
    }

} */


@media screen and (max-width: 768px) {
  .topnav a:not(:last-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* Hide the link that should open and close the topnav on small screens */
/* .topnav .icon {
    display: none;
} */
@media screen and (max-width: 768px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav .icon {
      display: visible;
      float: right;
      display: block;
      display: inline-block;
      margin-top:0px;
      padding-left:10px;
      padding-right:10px;
      padding:16px;
      text-decoration: none;
      display: block;
      color:#416891;
      text-align: center;
      padding: 5px 16px;
      text-decoration: none;
      font-size: 1.7em;
  }

  .column1{
      width: 100%;
  }

  p{
      display:block;
      width: 100%
  }

  .name{
        position: absolute;
        z-index: 1;
        text-align: center;
        top:1px;
        left:25%;
  }
  /* .about{
      text-align: center;
      position: relative;
      width:100%;
      height: auto;
      background-color: rgba(233, 224, 192, .1);
      margin-top: 0px;
      padding:10px;
      padding-bottom:75px;
  } */

  .about-me{
      text-align: left;
      margin: 0 auto;
      width: 75%;
      font-family: 'Open Sans', sans-serif;
      line-height: 30px;
      position: relative;
      overflow:auto;
  }
  /* .prev,
  .next {
      cursor: pointer;
      position: absolute;
      top: 100px;
      width: auto;
      padding: 10px;
      margin-top: -50px;
      margin:0px;
      color: white;
      font-weight: bold;
      font-size: 20px;
      transition: 0.2s ease;
      user-select: none;
      -webkit-user-select: none;
  } */


}
