@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Prompt|Russo+One');

* {
    box-sizing: border-box;
}
body, html {
    margin: 0;
    height: 100%;
}

h1{
    font-family: 'Archivo Black', sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    text-align: center;
}

.banner-container{
    position: relative;
    width: 100%;
    height:100px;
}
.banner-header{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height:100px;
}
/*github and linked in icons*/
/*NAV-----------------------------------------------*/
.fa-lg{
  font-size:1.65em;
  vertical-align: 0%
}
.fa-chevron-up{
    font-size:2em;
    z-index:0;
}
.container{
    margin: 0 auto;
    padding:0 45px 0 45px;
}
.name{
    position: absolute;
    z-index: 1;
    margin:0 auto;
    left: 0;
    right: 0;
    display: none;
}
.top-icon{
     /* text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white; */
     z-index:2
}
#myBtn {
      /* display: none; */
      position: fixed;
      bottom: 25px;
      z-index: 99;
      /* color: grey; */
      padding-left:2px;
      right:25px;
      background-color: rgba(121, 125, 124, .3);
      cursor: pointer;
      width:40px;
      color:whitesmoke;
      height: 40px;
      border-radius: 50px;
      font-size: 17px;
      vertical-align: 0%;
      background-color: rgba(36, 65, 105, .8);
      /* text-shadow: 2px 2px 4px #FFFFFF; */
}

#myBtn:hover {
    color: rgba(149, 167, 193, 0.4);
    background-color:rgba(36, 65, 105, .3);
}


/*NAV-----------------------------------------------*/
/* .nav-container{
    width:900px;
} */
.intro-link{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color:#28b3f7;
}
.intro-link:hover{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color:#416891;
}
.arrow-down {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #2b507d
    margin:0 auto;
    margin-top:-10px;
    /* background-color:#416891; */
}
.topnav{
    overflow: hidden;
    display: block;
    color:#28b3f7;
}
.topnav a{
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    display: inline-block;
    color: #25426D;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: .8em;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: rgba(221, 221, 221, .25);
    color:#28b3f7;
}
/* .active {
    background-color: #4CAF50;
    color: white;
} */
.topnav .icon {
    display: none;
}

/*PORTFOLIO GALLERY-----------------------------------------------*/
section{
    margin-top:30px;
}
.column1 {
    float: left;
    width: 50%;
    padding: 10px;
    height: auto;
    /*border: 1px solid black;*/
}
.intro{
      font-family: 'Open Sans', sans-serif;
      line-height: 30px;
      width:60%;
      text-align: center;
      margin: 0 auto;
      position: relative;
  }
  .row1{
      margin-top:40px;
      padding-left:10px;
      padding-right:10px;
  }
  /* Clear floats after the columns */
  .row:after {
      content: "";
      display: table;
      clear: both;
  }
  .prev,
  .next {
      cursor: pointer;
      position: absolute;
      top: 75%;
      width: auto;
      padding: 5px;
      margin-top: -50px;
      color: white;
      font-weight: bold;
      font-size: 20px;
      transition: 0.2s ease;
      user-select: none;
      -webkit-user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0px;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
        background-color: rgba(0, 0, 0, 0.7);
  }

  .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
  }

  img {
    margin-bottom: -4px;
  }

  .caption-container {
    text-align: center;
    padding: 2px 16px;
    color: white;
  }

   .demo {
    opacity: 0.6;
  }

  .active,
  .demo:hover {
    opacity: 1;
  }

  /* MODAL---------------------------------------------------------------- */

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .iphone{
      margin-top:10px;
      width: 210px;
      height: auto;
  }
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(5, 5, 5,.8);
  }

  /* Modal Content */
  .modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 70%;
    max-width: 1200px;
    height:344px;
    z-index: 100;
  }

  /* Close Button */
  .close {
    color: white;
    position: absolute;
    top: 60px;
    right: 70px;
    font-size: 35px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }

  .mySlides {
    display: none;
  }

  .cursor {
    cursor: pointer
  }

/*
  img.hover-shadow {
    transition: 0.3s
  }

  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  } */

.res-container {
    width:80%;
    text-align:center;
    margin: 0 auto;
}
.header-res{
    margin-top:30px;
    font-family: 'Open Sans', sans-serif;
}
.res-container .header-res {
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}
.res-container .content {
    display: none;
    padding : 5px;
}
.content{
    /* margin-top: 30px; */

}

/*IMAGE PAGE BREAK-----------------------------------------------*/

  .image-break{
    width: 100%;
    height:auto;
    border: none;
    margin-top:75px;
    position: relative;
 }
/* .family-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    display: inline-block;
    content:"fdjasfndsjafnd";
    color: white;
    text-align: center;
    font-size: 2em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

} */
/* .parallax-window {
    min-height: 400px;
    background: transparent;
} */

/* .family-image{
    position: relative;
    width: 100%;
    height: auto;
} */
.family-image{
    height: 90%;
    background-image: url(../images18/dogs-w-sheree.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

  .logos{
    width:100%;
    text-align: center;
    margin:0 auto;
}

.about{
    text-align: center;
    position: relative;
    width:100%;
    height: auto;
    background-color: rgba(233, 224, 192, .0);
    margin-top: 0px;
    padding:10px;
    padding-bottom:55px;
}

.about-me{
    text-align: left;
    margin: 0 auto;
    width: 58em;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    position: relative;
    overflow:auto;
}
.bw-color-image{
    position: relative;
    margin: 0 auto;
    z-index: 60;
    margin-top:20px;
}
.bw-color-bottom{
    width:135px;
    height: auto;
}

.page-break-resume{
    width:100%;
    height: 200px;
    margin-top: 0px;
    margin-bottom: 60px;
    background-color: rgba(184, 214, 241, .15);
    position: relative;

}
.logo-container{
    position: relative;
    text-align: center;
    width:100%;
    margin-top:0px;
    height: auto;
    background-color: rgba(184, 214, 241, .15);
    padding:35px 0 38px 0;
    margin-bottom:50px;
}
.logos-exp{
    position: relative;
    margin-top:0px;
    width:55%
}
#resume{
    /* margin-top: 30px; */
    position: relative;
    text-align: center;
}
.resume{
    position: relative;
    margin:0 auto;
    width:100%;
    height: auto;
}
.expand{
    color: #25426D;
    /* border: 2px solid grey;
    width:10px;
    height:25px; */
    /* margin-top: 30px */
}
#contact{
    margin-top: 30px;
    position: relative;
    text-align: center;
}
.contact{
    position: relative;
    margin:0 auto;
    width:70%;
    height: auto;
}

footer{
    margin-top:100px;
    background-color: #0D172E;
    max-width: 100%;
    height:100px;
}
.banner-footer{
    margin-top:100px;
    margin: 0 auto;
    width: 100%;
    height:100px;
}
.bottom-links{
    width:100%;
    margin:0 auto;
    z-index: 50;
    position: absolute;
    text-align: center;
    margin-top:45px;
}
.bottom-links a{
    z-index: 50;
    color:white;
    text-decoration: none;
    padding:10px;

    font-size:1.1em;
}
.bottom-links a:hover{
    color:#28b3f7;

}
.fa-envelope{
    font-size:1.1em;
    vertical-align: 1%;
}



/* expand--------------------------------------------------- */

.res {
  /* background: #EEE; */
    width:38.75em;
    margin: 0px auto;
    padding: 0px 0;
    text-align: center;
    /* box-shadow: 0 3px 5px rgba(0,0,0,0.3); */
}
h2 {
  text-align: center;
}
p {
  font-size: 13px;
}

/* .link{
    text-align: center;
    color:#28b3f7;
} */
.link a:link{
    font-family: 'Open Sans', sans-serif;
    font-size: .9em;
    text-decoration: none;
    text-align: center;
    color:#28b3f7;
}
.link a:hover{
    font-family: 'Open Sans', sans-serif;
    font-size: .9em;
    color:#133461;

}

.tyb-squeeze{
    margin-bottom:50px;
}
.bottom-links a:link{
    font-family: 'Open Sans', sans-serif;
    /* text-decoration: none; */
    font-size: .9em;
}
.bottom-links a:hover{
    font-family: 'Open Sans', sans-serif;
    /* text-decoration: none; */
    font-size: .9em;
    color:#28b3f7;
}

figcaption{
    font-family: 'Open Sans', sans-serif;
    color:white;
    margin-top:10px;
    font-size:.8em;
    margin-bottom:10px;
}
/* .modal .modal-content figcaption .caption a:link{ */

figcaption a:link{
    color: white;
    /* text-decoration: none; */
}
figcaption a:visited{
    color:white;
    text-decoration: none;
}
figcaption a:hover{
    color:#28b3f7;
    /* text-decoration: none; */
}
figcaption a:active{
    color:#dae8ee;
    text-decoration: none;
}
.recent-work{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    margin-left:9px;
    width:400px;
}
.logo-page{
    text-align: center;
}
 .bw-logos-sm{
    /* display:none; */
}
.bw-logos{
    text-align: center;
    width:70%;
    height: auto;
}
.logos-link{
    font-size:1em;
    text-decoration: none;
}
.mobile{
    text-align: center;
    margin:0 auto;
}
.mrs-fields-mobile{

    width:80%;
    height:auto;
}

@media screen and (max-width: 1150px){
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 70%;
    }
}
@media screen and (max-width: 1000px){
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 200px;
    }
}
@media screen and (max-width: 1000px){
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 210px;
    }
}
@media screen and (max-width: 850px){
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 200px;
    }
}
@media screen and (max-width: 800px){
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 180px;
    }
}


@media screen and (max-width: 768px) {
.topnav a:not(:last-child) {
    display: none;
}
.topnav a.icon {
    float: right;
    display: block;
  }
.container {
    margin: 0 auto;
    padding: 0 20px 0 20px;
  }
}
/* Hide the link that should open and close the topnav on small screens */
/* .topnav .icon {
    display: none;
} */
@media screen and (max-width: 768px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .prev,
  .next {
      cursor: pointer;
      position: absolute;
      top: 170px;
  }
.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
.topnav .icon {
    display: visible;
    float: right;
    display: block;
    display: inline-block;
    margin-top:0px;
    padding-left:10px;
    padding-right:10px;
    padding:16px;
    text-decoration: none;
    display: block;
    color: #091835;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 1.7em;
}
.column1{
    width: 100%;
}

p{
    display:block;
    width: 100%
}
.family-image{
    height: 80%;
    background-image: url(../images18/dogs-w-sheree-med.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}
.bw-color-image{
    position: relative;
    margin: 0 auto;
    z-index: 60;
    margin-top:20px;
  }
  .bw-color-bottom{
      width:120px;
      height: auto;
  }
.logo-container{
    position: relative;
    text-align: center;
    width:100%;
    margin-top:0px;
    height: auto;
    background-color: rgba(184, 214, 241, .15);
    padding:25px 0;
    margin-bottom:50px;
  }
  .logos-exp{
    position: relative;
    margin-top:0px;
    width:65%
  }

.about-me{
    text-align: left;
    margin: 0 auto;
    width: 80%;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    position: relative;
    overflow:auto;
  }
.about{
    padding-bottom:45px;
}

.res {
    margin: 69px auto;
    padding: 0px 0;
    text-align: center;
  }

.resume {
    position: relative;
    margin:0 auto;
    width:100%;
    height: 0px;
}
.res {
    padding: 0px 0;
    text-align: center;
}
.about-me{
    text-align: left;
    margin: 0 auto;
    width: 90%;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    position: relative;
    overflow:auto;
  }
  .intro {
      font-family: 'Open Sans', sans-serif;
      line-height: 30px;
      width:88%;
      text-align: left;
      margin: 0 auto;
      position: relative;
      padding-top:5px;
  }
  .header-res{
      display: none
  }
  figcaption{
      font-family: 'Open Sans', sans-serif;
      color:white;
      margin-top:10px;
      font-size:.7em;
      margin-bottom:10px;
  }
  .bw-logos{
      text-align: center;
      width:80%;
      height: auto;
  }

  /* .family-image {
      width:100%;
      height:auto;
  } */
}

@media screen and (max-width: 675px){
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 160px;
    }
    .image-break{
      width: 100%;
      height:auto;
      border: none;
      margin-top:50px;
      position: relative;
   }
   .bw-logos{
       text-align: center;
       width:80%;
       height: auto;
   }
}

@media screen and (max-width: 550px){
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 140px;
    }
    .bw-logos{
        display: none;
    }
    .bw-logos-sm{
        text-align: center;
        margin: 0 auto;
        background-image: url(../images18/logos-2016-sm.jpg);
        width:362px;
        height: 712px;
    }
}
@media screen and (max-width: 500px){
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 120px;
    }

}

@media screen and (max-width:420px) {
.container {
    margin: 0 auto;
    padding: 0 10px 0 10px;
}
.bw-logos{
    display: none;
}
.bw-logos-sm{
    background-image: url(../images18/logos-2016-sm2.jpg);
    width:335px;
    height: 665px;
    margin: 0 auto;
    text-align: center;

}
.name {
    position: absolute;
    z-index: 1;
    text-align: center;
    top: 1px;
    left: 0%;
}
.about-me {
    text-align: left;
    margin: 0 auto;
    width: 91%;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    position: relative;
    overflow:auto;
      }
.logo-container{
    position: relative;
    text-align: center;
    width:100%;
    margin-top:0px;
    height: auto;
    background-color: rgba(184, 214, 241, .15);
    padding:25px 0;
    margin-bottom:50px;
}
.logos-exp{
    position: relative;
    margin-top:0px;
    width:90%
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 120px;
    }
     /* .family-image{
        width: 100%;
        height: 225px;
        position: relative;
        background-color: white;
        display:none;
    } */
    /* .image-break{
      width: 420px;
      height:auto;
      border: none;
      background-color: #244169;
      margin-top:100px;
      position: relative;
   } */
   .family-image{
       height: 60% !important;
       width:100% !important;
       background-image: url(../images18/dogs-w-sheree-sm.png) !important;
       background-attachment: fixed;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
   }

    figcaption{
        font-family: 'Open Sans', sans-serif;
        color:white;
        margin-top:10px;
        font-size:.4em;
        margin-bottom:10px;
    }
    .header-res{
        display: none
    }

}
