@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);
@font-face {
    font-family: "verdemoderna";
    src: url("fonts/verdemoderna.woff") format('woff');
}

* {
    box-sizing: border-box;
    font-size: 0px;
}

/*http://www.csszengarden.com/214/verdemoderna.woff*/

/*font-family: 'Julius Sans One', sans-serif;*/
/*font-family: 'Libre Baskerville', sans-serif;*/

@media (max-width: 420px) {
  #container{
    position:relative;
  }
  header{
    width:100%;
    text-align: center;
  }

  #headerImg{
      position: relative;
      margin-top: 0px;
      /*display: block;*/
      /*width:100%;*/
      height: 240px;
      z-index: 0;
      background-image: url("images/huntington_sm.jpg");
      background-repeat: no-repeat;
  }

.transDiv{
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    bottom:0;
    z-index: 5;
    width:100%;
    height: 71px;

  }

  .insideHeader{
    position: relative;
    background-color: #144849;
    width:100%;
    height:9px;
  }

  .logo{
    top: 28px;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 170px;
    /* text-align: center; */
    /* margin: 0 auto; */
    z-index: 5;
    /* right: 28px; */

  }
  h2{
    top:82px;
    text-align:center;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    color: white;
    font-size: 28px;
    font-family: 'Julius Sans One', sans-serif;
    z-index:5
  }
  h3{
    top:123px;
    width: 100%;
    margin: 0 auto;
    text-align:center;
    position: absolute;
    /*display: block;*/
    color: rgba(255, 255, 255, .55);
    font-size: 18px;
    font-family: 'Libre Baskerville', sans-serif;
    font-style: italic;
    z-index:5;
  }
  .nav-button{
    text-align: center;
    position: absolute;
    margin-top: 80px;
    width: 100%;
    color: rgba(255, 255, 255, .55);
    font-size: 16px;
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
    top: 120px;
    z-index:5;
    /*left: 120px;*/

  }

  .main{
    position: relative;
    margin-top:20px;
  }
  p{
    margin: 15px 34px 0px 40px;
    font-size: 14px;
    font-family: 'Libre Baskerville', sans-serif;
    color: #333333;
    line-height: 23px;
  }
  h4{
    font-size: 21px;
    margin: 32px 34px 10px 40px;
    font-family: 'Julius Sans One', sans-serif;
    color: #333333;
    text-transform: uppercase;
    z-index:6;
  }
  .participate{
      font-size: 21px;
      margin-top:25px;
      padding-top:25px;
      font-family: 'Julius Sans One', sans-serif;
      color: #333333;
      text-transform: uppercase;
      z-index:6;
    }
  h5{
    font-size: 21px;
    margin: 30px 34px 0px 40px;
    font-family: 'Julius Sans One', sans-serif;
    color: #333333;
    text-transform: uppercase;
    z-index:6;
  }

  #bamboo{
    width: 100%;
    height: 1050px;
    background-image: url();
  }
  .partGreen{
    width: 100%;
    height: 920px;
    background-image: url();
    background-color: #BCD6C8;
  }

  .partGreen h4{
  /*margin-top:30px;
    margin-top:30px;*/
}
.require h4{
    font-size: 21px;
    margin: 25px 34px 10px 40px;
    font-family: 'Julius Sans One', sans-serif;
    color: #333333;
    text-transform: uppercase;
    z-index:6;
}

.midImg{
  font-family: "verde moderna";

}
  }
}

@media (min-width: 420px) {

  #headerImg{
    background-image: url("images/huntington-220-md.jpg");
      position: relative;
      margin-top: 0px;
      /*display: block;*/
      width:100%;
      /*max-width:100%;*/
      height: 240px;
      z-index: 0;
      background-repeat: no-repeat;
  }

.transDiv{
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    bottom:0;
    z-index: 5;
    width:100%;
    height: 71px;

  }

  .insideHeader{
    position: relative;
    background-color: #144849;
    width:100%;
    height:9px;
  }

  .logo{
    top: 28px;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 170px;
    /* text-align: center; */
    /* margin: 0 auto; */
    z-index: 5;
    /* right: 28px; */

  }
  h2{
    top:82px;
    text-align:center;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    color: white;
    font-size: 28px;
    font-family: 'Julius Sans One', sans-serif;
    z-index:5
  }
  h3{
    top:123px;
    width: 100%;
    margin: 0 auto;
    text-align:center;
    position: absolute;
    /*display: block;*/
    color: rgba(255, 255, 255, .55);
    font-size: 18px;
    font-family: 'Libre Baskerville', sans-serif;
    font-style: italic;
    z-index:5;
  }
  .nav-button{
    text-align: center;
    /* width: 100%; */
    color: rgba(255, 255, 255, .55);
    position: absolute;
    font-size: 16px;
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
    top: 31px;
    left: 120px;

  }
  .main{
    position: relative;
    margin-top:20px;
  }
  p{
    margin: 0px 34px 0px 40px;
    font-size: 14px;
    font-family: 'Libre Baskerville', sans-serif;
    color: #333333;
    line-height: 23px;
  }
  h4{
    font-size: 21px;
    margin: 32px 34px 10px 40px;
    font-family: 'Julius Sans One', sans-serif;
    color: #333333;
    text-transform: uppercase;
    z-index:6;

  }


}

@media (min-width: 768px){

  #headerImg{
      background-image: url("images/huntington.jpg");
      position: relative;
      margin-top: 0px;
      width:100%;
      z-index: 0;
  }

}





@media only screen and (min-width: 1100px){



}*/
