table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td {
  border: 1px solid black;
  padding: 5px;
}

th {
  border: 1px solid rgb(38, 37, 33);
  text-align: left;
  padding: 8px;
  background-color: rgba(27, 161, 231, .1);
}

tr:nth-child(even) {
  background-color: rgb(241, 246, 246);
}
tr:nth-child(odd) {
  background-color: rgba(175, 182, 182, .4);
}
